// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$color: white;

body {
  color: $color;
  font-family: 'Helvetica Neue';
  font-weight: 100;
}

.fa-btn {
  margin-right: 6px;
}
