// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  font-family: 'Helvetica Neue';
  font-weight: 100;
}

.fa-btn {
  margin-right: 6px;
}

.alert {
  text-align: center;

  .alert--info {
    background: gray;
  }

  .alert--success {
    background: lime;
  }

  .alert--error {
    background: red;
  }
}

.card {
  box-shadow: 1px solid black;
  height: 150px;
  width: 150px;
}

.nav>li>a>img {
  border-radius: 50px;
  height: 50px;
}

.spacer {
  margin-bottom: 100px;
}

.cart-image {
  width: 100px;
}

.table>tbody>tr>td {
  vertical-align: middle;
}

.side-by-side {
  display: inline-block;
}

.navbar-nav>li>a {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
